<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Your Order</h1>

<% pizza.each do |item| %>

<% if item.include?("small") || item.include?("medium") || item.include?("large") %>
<br>
<% end %>
 <label><img src = "/images/<%=item.tr("0-9", "")%>.jpg"> <b><%= item.tr("0-9", "") %></b></label>
<% end %>

<% if delivery == "yes" %>
  <h1>Delivery Address:</h1>
  <b><%= address %>
<% end %>

<h1>Total: $<%= '%.2f' % price %></h1>
</body>
