<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Your Order</h1>

<% pizzas.each do |item| %>

<% if item.include?("small") || item.include?("medium") || item.include?("large") %>
<br>
<% end %>
<b>  <%= item %></b>
<br>
<% end %>

<% if delivery == "yes" %>
  <h1>Delivery Address:</h1>
  <b><%= address %>
<% end %>

<h1>Total: $<%= price %></h1>
</body>
