<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<form method = 'post' action = '/home'>
Delivery or Pickup?<br>
	<label><input type = 'radio' name = 'delivery' value = 'yes'>Delivery</label><br>
	<label><input type = 'radio' name = 'delivery' value = 'Pickup'>Pickup</label><br>
<button class = "button submit">Submit</button>
</form>
</body>