<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<form method = 'post' action = '/home'>
<h1>Delivery or Pickup?</h1>
	<label><input type = 'radio' required name = 'delivery' value = 'yes'>Delivery</label><br>
	<label><input type = 'radio' name = 'delivery' value = 'Pickup'Checked>Pickup</label><br>
<input type = "submit" value = "submit">
</form>
</body>
