<form method = 'post' action = '/home'>
How many pizzas would you like? <input type = 'number' name = 'quantity' min = '1' max = '5'><br>
Delivery?
	<input type = 'radio' name = 'delivery' value = 'yes'>Yes
	<input type = 'radio' name = 'delivery' value = 'no'>No<br>
<input type = 'submit' value = 'submit'>

</form>