<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<form method = 'post' action = '/home'>
Would you like delivery?<br>
	<input type = 'radio' name = 'delivery' value = 'yes'>Delivery<br>
	<input type = 'radio' name = 'delivery' value = 'no'>Pickup<br>
<input type = 'submit' value = 'submit'>
</form>
</body>