<form method = 'post' action = '/home'>
Would you like delivery?<br>
	<input type = 'radio' name = 'delivery' value = 'yes'>Yes<br>
	<input type = 'radio' name = 'delivery' value = 'no'>No<br>
<input type = 'submit' value = 'submit'>
</form>