<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<form method = 'post' action = '/pizza'>

<h1>Select pizza size:</h1><br>
<br>
<label>
  <img src = "/images/small.jpg">
  <input name = "size" type = "radio" id = "small" value = "small"checked>Small
</label>
<label>
  <img src = "/images/medium.jpg">
  <input name = "size" type = "radio" id = "medium" value = "medium">Medium
</label>
<label>
  <img src = "/images/large.jpg">
  <input name = "size" type = "radio" id = "large" value = "large">Large
</label>
<br>
<br>

<h1>Select Crust:</h1><br>
<br>
<label>
  <img src = "/images/thincrust.jpg">
  <input name = "crust" type = "radio" id = "thin" value = "thin"checked>Thin
</label>
<label>
  <img src = "/images/regularcrust.jpg">
  <input name = "crust" type = "radio" id = "regular" value = "regular">Regular
</label>
<label>
  <img src = "/images/stuffedcrust.jpg">
  <input name = "crust" type = "radio" id = "stuffed" value = "stuffed">Stuffed
</label>
<br>
<br>
<h1>Select meats:</h1><br>
<br>
<label>
  <img src = "/images/pepperoni.jpg">
  <input name = "meats[]" type = "checkbox" id = "pepperoni" value = "pepperoni"checked>Pepperoni
</label>
<label>
  <img src = "/images/sausage.jpg">
  <input name = "meats[]" type = "checkbox" id  = "sausage" value = "sausage">Sausage
</label>
<label>
  <img src = "/images/ham.jpg">
  <input name = "meats[]" type = "checkbox" id = "ham" value = "ham">Ham
</label>
<label>
  <img src = "/images/bacon.jpg">
  <input name = "meats[]" type = "checkbox" id = "bacon" value = "bacon">Bacon
</label>
<br>
<br>
<h1>Select veggies:</h1><br>
<br>
<label>
  <img src = "/images/mushrooms.jpg">
  <input name = "veggies[]" type = "checkbox" value = "mushrooms"checked>Mushrooms
</label>
<label>
  <img src = "/images/pepper.jpg">
  <input name = "veggies[]" type = "checkbox" value = "peppers">Banana Peppers
</label>
<label>
  <img src = "/images/pineapple.jpg">
  <input name = "veggies[]"type = "checkbox" value = "pineapple">Pineapple
</label>
<br>
<br>
<% if delivery == 'yes'%>
<h1>Enter Address:</h1><br>
<br>
<input type = "text" name = "address" value = "" pattern = "[a-zA-Z0-9]{1-20}">
<br>
<br>
<% else %>
<input type = "hidden" name = "address" value = "">
<%end%>
<h1>Would you like another pizza?</h1><br>
<br>
<label>
  <input type = "radio" name = "another" value = "yes">Yes
</label>
<label>
  <input type = "radio" name = "another" value = "no">No
</label>
<br>
<br>
<input type = "submit" value = "submit">
<br>
<input type = "hidden" name = "delivery" value = "<%= delivery %>">
<input type = "hidden" name = "pizzalist" value = "<%= pizzalist%>">
</form>
</body>
